<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
{load href="/static/manage/css/style.css" /}
{load href="/static/manage/js/jquery-1.8.1.min.js" /}
{load href="/static/manage/layui/css/layui.css" /}
{load href="/static/manage/layui/layui.js" /}
{load href="/static/manage/js/public.js" /}
{load href="/static/manage/js/jquery.form.js" /}
<style>
.layui-form{margin: 0 auto;width: 90%;margin-top: 10px;}
.layui-form-pane .layui-input-block{width:50%;}
#ac img{height:100px;margin-left:20px;}
.delete{background: #666;color: #fff;height: 30px;line-height: 30px;width: 100px;text-align: center;margin-top: 10px;cursor:pointer;}
</style>
<form class="layui-form layui-form-pane" action="{:url('wdl_index_post')}" id="form" >
  <input type="hidden" name="id" value="{$data.id}">
  <div class="layui-form-item">
    <label class="layui-form-label">门店名称</label>
    <div class="layui-input-block"><span class="require-field">*</span>
      <input type="text" name="title"  placeholder="请输入门店名称" value="{$data.name}" class="layui-input must">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">门店编号</label>
    <div class="layui-input-block"><span class="require-field">*</span>
      <input type="text" name="code"  placeholder="请输入门店编号" value="{$data.code}" class="layui-input must">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">门店电话</label>
    <div class="layui-input-block"><span class="require-field">*</span>
      <input type="text" name="phone"  placeholder="请输入门店电话" value="{$data.phone}" class="layui-input must">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">门店地址</label>
    <div class="layui-input-block">
      <textarea name="address" placeholder="请输入门店地址" class="layui-textarea must">{$data.address}</textarea>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">排序</label>
    <div class="layui-input-block">
      <input type="number" name="listorder" value="{$data.listorder}"  class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">案例缩略图</label>
     <button type="button" class="layui-btn" id="addimg">
	  <i class="layui-icon">&#xe67c;</i>上传图片
	</button>
  </div>
  <div class="layui-form-item" {if condition="empty($data.img)"}style="display:none;"{/if}  id="ac">
    <label class="layui-form-label">图片</label>
    <div class="layui-input-block"><span class="require-field">*</span>
      <img class="img"  {if condition="$data.img"}src="{$data.img}"{/if}/>
	  <input id="img" name="img" type="hidden"  {if condition="$data.img"}value="{$data.img}"{/if}/>
      <p class="delete">移除</p>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button type="button" class="layui-btn" id="form_btn">立即提交</button>
	  <button type="reset" class="layui-btn layui-btn-normal">重置</button>
    </div>
  </div>
</form>
<script>
$(".delete").on('click',function(){
   $("#ac").hide();
   $(".img").attr("src","");
   $("#img").val('');
})
layui.use('form', function(){
  var form = layui.form;
  submit_form();
})
layui.use('upload', function(){
  var upload = layui.upload;
   
  //执行实例
  var uploadInst = upload.render({
    elem: '#addimg' //绑定元素
    ,url: "{:url('admin/upload/up_do')}" //上传接口
    ,done: function(ret){
       $("#ac").show();
       $(".img").attr('src',ret.pic);
	   $("#img").val(ret.pic);
    }
    ,error: function(){
       layer.msg('上传有误');
    }
  });
});
</script>
</body>
</html>