{"swagger":"2.0","info":{"description":"APP \u63a5\u53e3\u670d\u52a1","version":"1.0.0","title":"\uff3bAPP\uff3d\u63a5\u53e3\u7ba1\u7406"},"host":"jinrong.egg.cc:80","basePath":"","tags":[{"name":"index","description":"api Index\r"},{"name":"user","description":"api User\r"}],"schemes":["http"],"paths":{"get_article_xieyi\r":[],"\/api\/index\/get_article_xieyi\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6\u7528\u6237\u534f\u8bae\r","description":"","operationId":"get_article_xieyi\r","produces":["application\/json"],"parameters":[]}},"get_article_zhengce\r":[],"\/api\/index\/get_article_zhengce\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6\u9690\u79c1\u653f\u7b56\r","description":"","operationId":"get_article_zhengce\r","produces":["application\/json"],"parameters":[]}},"get_article_about\r":[],"\/api\/index\/get_article_about\r":{"post":{"tags":["index"],"summary":"\u5173\u4e8e\u6211\u4eec\r","description":"","operationId":"get_article_about\r","produces":["application\/json"],"parameters":[]}},"get_city_list\r":[],"\/api\/index\/get_city_list\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6\u57ce\u5e02\u5217\u8868\r","description":"","operationId":"get_city_list\r","produces":["application\/json"],"parameters":[]}},"get_banner\r":[],"\/api\/index\/get_banner\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6\u9996\u9875\u8f6e\u64ad\u56fe\r","description":"","operationId":"get_banner\r","produces":["application\/json"],"parameters":[]}},"get_banner_center\r":[],"\/api\/index\/get_banner_center\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6\u9996\u9875\u4e2d\u95f4\u56fe\u6807\r","description":"","operationId":"get_banner_center\r","produces":["application\/json"],"parameters":[]}},"get_shili_tiaoli\r":[],"\/api\/index\/get_shili_tiaoli\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6\u89c6\u529b\u5065\u5eb7\u72b6\u6001\u53ca\u8c03\u7406\u8fdb\u5ea6\r","description":"","operationId":"get_shili_tiaoli\r","produces":["application\/json"],"parameters":[]}},"area_list\r":[],"\/api\/index\/area_list\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6\u4e09\u7ea7\u5730\u533a\u5217\u8868\r","description":"","operationId":"area_list\r","produces":["application\/json"],"parameters":[]}},"get_city_id\r":[],"\/api\/index\/get_city_id\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6\u57ce\u5e02ID\r","description":"","operationId":"get_city_id\r","produces":["application\/json"],"parameters":[{"name":"name","in":"formData","required":true,"description":"\u57ce\u5e02\u540d\uff08\u4e0d\u5e26\u5e02\uff09\r\n     ","type":"string"}]}},"get_near_people\r":[],"\/api\/index\/get_near_people\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6\u9644\u8fd1\u7684\u4eba\r","description":"","operationId":"get_near_people\r","produces":["application\/json"],"parameters":[{"name":"city_id","in":"formData","required":true,"description":"\u57ce\u5e02ID\r\n     ","type":"integer"},{"name":"start","in":"formData","required":true,"description":"\u8d77\u59cbID\r\n     ","type":"integer"}]}},"get_near_fabu\r":[],"\/api\/index\/get_near_fabu\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6\u9644\u8fd1\u7684\u52a8\u6001\r","description":"","operationId":"get_near_fabu\r","produces":["application\/json"],"parameters":[{"name":"city_id","in":"formData","required":true,"description":"\u57ce\u5e02ID\r\n     ","type":"integer"},{"name":"start","in":"formData","required":true,"description":"\u8d77\u59cbID\r\n     ","type":"integer"}]}},"get_people_detail\r":[],"\/api\/index\/get_people_detail\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6\u4ed6\u4eba\u4e3b\u9875\u4fe1\u606f\r","description":"","operationId":"get_people_detail\r","produces":["application\/json"],"parameters":[{"name":"relative_id","in":"formData","required":true,"description":"id\u7528\u6237ID\r\n     ","type":"integer"}]}},"get_people_detail_list\r":[],"\/api\/index\/get_people_detail_list\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6\u4ed6\u4eba\u4e3b\u9875\u53d1\u5e03\u5217\u8868\u4fe1\u606f\r","description":"","operationId":"get_people_detail_list\r","produces":["application\/json"],"parameters":[{"name":"start","in":"formData","required":true,"description":"\u8d77\u59cbID\r\n     ","type":"integer"},{"name":"relative_id","in":"formData","required":true,"description":"id\u7528\u6237ID\r\n     ","type":"integer"}]}},"get_cat\r":[],"\/api\/index\/get_cat\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6\u5206\u7c7b\r","description":"","operationId":"get_cat\r","produces":["application\/json"],"parameters":[]}},"get_search\r":[],"\/api\/index\/get_search\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6\u641c\u7d22\u7ed3\u679c\r","description":"","operationId":"get_search\r","produces":["application\/json"],"parameters":[{"name":"age","in":"formData","required":true,"description":"\u5e74\u9f84ID 0=>\u5168\u90e81=>0~8\u5c81\uff0c2=>9~10\u5c81\uff0c3=>11~12\u5c81\uff0c4=>13~16\u5c81\uff0c5=>17~18\u5c81\uff0c6=>18\u5c81\u4ee5\u4e0a\r\n     ","type":"integer"},{"name":"type","in":"formData","required":true,"description":"\u7c7b\u578bID 1=>\u7528\u6237\uff0c2=>\u52a8\u6001\r\n     ","type":"integer"},{"name":"shili","in":"formData","required":true,"description":"\u89c6\u529bID 1=>\u8fd1\u89c6\uff0c2=>\u8fdc\u89c6\uff0c3=>\u5f31\u89c6\uff0c4=>\u6563\u5149\uff0c5=>\u5176\u4ed6\r\n     ","type":"integer"},{"name":"tiaoli","in":"formData","required":true,"description":"\u8c03\u7406ID 1=>\u9636\u6bb5\u4e00\uff0c2=>\u9636\u6bb5\u4e8c\uff0c3=>\u9636\u6bb5\u4e09\uff0c4=>\u9636\u6bb5\u56db\r\n     ","type":"integer"},{"name":"city_id","in":"formData","required":true,"description":"\u57ce\u5e02ID\r\n     ","type":"integer"},{"name":"start","in":"formData","required":true,"description":"\u8d77\u59cbID\r\n     ","type":"integer"},{"name":"keywords","in":"formData","required":true,"description":"\u641c\u7d22\u5173\u952e\u8bcd\r\n     ","type":"string"}]}},"get_anli_list\r":[],"\/api\/index\/get_anli_list\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6\u6848\u4f8b\u5217\u8868\r","description":"","operationId":"get_anli_list\r","produces":["application\/json"],"parameters":[{"name":"start","in":"formData","required":true,"description":"\u8d77\u59cbID\r\n     ","type":"integer"}]}},"get_anli_detail\r":[],"\/api\/index\/get_anli_detail\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6\u6848\u4f8b\u8be6\u60c5\r","description":"","operationId":"get_anli_detail\r","produces":["application\/json"],"parameters":[{"name":"id","in":"formData","required":true,"description":"\u6848\u4f8bID\r\n     ","type":"integer"}]}},"get_service_list\r":[],"\/api\/index\/get_service_list\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6\u670d\u52a1\u5e97\u5217\u8868\r","description":"","operationId":"get_service_list\r","produces":["application\/json"],"parameters":[{"name":"start","in":"formData","required":true,"description":"\u8d77\u59cbID\r\n     ","type":"integer"}]}},"get_xiaoxi_num\r":[],"\/api\/index\/get_xiaoxi_num\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6\u6d88\u606f\u5217\u8868\u6d88\u606f\u662f\u5426\u663e\u793a(\u524d\u63d0\u5fc5\u987b\u662f\u767b\u5f55\u72b6\u6001)\r","description":"","operationId":"get_xiaoxi_num\r","produces":["application\/json"],"parameters":[]}},"get_hide\r":[],"\/api\/index\/get_hide\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6ios\u4e0a\u67b6\u7248\u672c\u53f7\r","description":"","operationId":"get_hide\r","produces":["application\/json"],"parameters":[{"name":"version","in":"formData","required":true,"description":"\u7248\u672c\u53f7\r\n     ","type":"string"}]}},"get_banben\r":[],"\/api\/index\/get_banben\r":{"post":{"tags":["index"],"summary":"\u83b7\u53d6\u7248\u672c\u53f7\r","description":"","operationId":"get_banben\r","produces":["application\/json"],"parameters":[{"name":"version","in":"formData","required":true,"description":"\u7248\u672c\u53f7\r\n     ","type":"string"},{"name":"type","in":"formData","required":true,"description":"1\u5b89\u5353 2ios\r\n     ","type":"integer"}]}}},"securityDefinitions":[],"definitions":[]}